rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Regras para a coleção de posts
    match /posts/{postId} {
      // Permite leitura para todos
      allow read: if true;
      
      // Permite escrita apenas para usuários autenticados
      allow create: if request.auth != null;
      
      // Permite atualização e exclusão apenas para o autor do post
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.uid;
    }
  }
} 